# Data Science Tools

In this notebook, Data Science Tools and Ecosystem are summarized

 **Objectives:**
 * List popular languages in Data Science
 * List popular libraries in Data Science
 * List popular open sources development environment tools in Data Science
 * Table creation in Markdown

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. SciPy

| Data Science Tools |
| ------------------ |
| JupyterLab |
| VS Code |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [13]:
#This will convert 200 minutes to hours by diving by 60.
times_minutes = 200 # times in minutes
times_hours = times_minutes / 60 # times in hours
print(times_hours)

3.3333333333333335

## Author
P.HEN